// importa o Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

//Cria nosso tema
$my-color-1: #ffffff;
$my-color-2: #6633cc;

$theme-colors:(
  "my-color-1": $my-color-1,
  "my-color-2": $my-color-2,
);

// classes personalizadas
$bg: $my-color-1;
$navbar: $my-color-2;

// Background Image
div.background-img {
  position: absolute;
  width: 100%;
  height: 75rem;
  background: url(../assets/background-img.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

// Cover
div.cover-theme {
  height: 25%;
}

// Navbar Attributes
div.nav-theme {
  background-color: $navbar;
}

// Links of the Navbar
div.nav-links-theme {
  width: 27em;
}

div.breakspace {
  padding-bottom: 4rem;
}

div.news-post {
  height: 9rem;
  width: 100%;
}

div.img-news {
  max-width: 100%;
  height: auto;
}
