// Importa o Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Novas Cores
$my-color-1: #e7e7e7;
$my-color-2: #421b84;
$my-color-3: #ffffff;
$my-color-4: #272727;

$theme-colors:(
  "my-color-1": $my-color-1,
  "my-color-2": $my-color-2,
  "my-color-3": $my-color-3,
  "my-color-4": $my-color-4,
);

// Classes Personalizadas
$bg-theme: $my-color-3;
$bg-navbar-theme: $my-color-3;
$cover-theme: $my-color-2;
$bg-novidades: $my-color-3;
$footer: $my-color-4;

// Background
div.bg-theme {
  background-color: $bg-theme;
}

// Capa
%cover {
  height: 20em;
  background-color: $cover-theme;
}

div.cover-theme {
  @extend %cover;
}

div.cover-theme-responsive {
  @extend %cover;
  height: 10px;
}

// Navbar Atributos
div.bg-navbar-theme {
  background-color: $bg-navbar-theme;
}

div.alignToLeft {
  align-items: left;
}

// Novidades Atributos
div#novidades-theme {
  background-color: $bg-novidades;
}

// Footer
footer.footer-theme {
  background-color: $footer;
}