<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">

    <link rel="stylesheet" href="css/style.css">

    <title>TX - Express</title>

  </head>

  <body>

    <div class="background-img d-none d-lg-block d-xl-none"></div>

    <div class="container">
      <!-- Cover and logos-->
      <div class="row ml-0 pl-0 cover-theme bg-light">

        <div class="col-sm-10">

          <div class="col pt-2 pb-2">

            <img class="img-responsive" src="assets/logo1.jpg" alt="logo1">

          </div>

        </div>

        <div class="col-sm-2">

          <div class="col pt-2 pb-2 d-none d-sm-block">

            <img class="img-responsive" src="assets/logo2.jpg" alt="logo2">

          </div>

        </div>

      </div>

      <div class="row nav-theme">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">

                <div class="row nav-links-theme">

                  <div class="col-4">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Início</a>
                    </li>
                  </div>
                  <div class="col-4">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Notícias</a>
                    </li>
                  </div>
                  <div class="col-4">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Fale Conosco</a>
                    </li>
                  </div>
                </div>

              </ul>
            </div>
          </nav>
      </div>

      <div class="row ml-2 pl-5 pr-5">
        <div class="col-4 mr-0 ml-0 mt-5">
          <div class="card text-secondary bg-secondary mb-3" style="max-width: 15rem; max-height: 9rem; width: 13rem; height: 8rem;">
            <div class="card-body">
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-4 mr-0 ml-0 mt-5">
          <div class="card text-secondary bg-secondary mb-3" style="max-width: 15rem; max-height: 9rem; width: 13rem; height: 8rem;">
            <div class="card-body">
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-4 mr-0 ml-0 mt-5">
          <div class="card text-secondary bg-secondary mb-3" style="max-width: 15rem; max-height: 9rem; width: 13rem; height: 8rem;">
            <div class="card-body">
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5 pl-5 pr-5 breakspace">
        <div class="col mt-5">
          <div class="card text-secondary bg-secondary mb-3" style="max-width: 15rem; max-height: 9rem; width: 11rem; height: 7rem;">
            <div class="card-body">
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col mt-5">
          <div class="card text-secondary bg-secondary mb-3" style="max-width: 15rem; max-height: 9rem; width: 11rem; height: 7rem;">
            <div class="card-body">
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col mt-5">
          <div class="card text-secondary bg-secondary mb-3" style="max-width: 15rem; max-height: 9rem; width: 11rem; height: 7rem;">
            <div class="card-body">
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col mt-5">
          <div class="card text-secondary bg-secondary mb-3" style="max-width: 15rem; max-height: 9rem; width: 11rem; height: 7rem;">
            <div class="card-body">
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row  pl-5 pr-5">
        <div class="col-8">
          <h3>Text One</h3>
          <p>
            É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase de construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de propósito (injetando humor, e coisas do gênero).
          </p>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col mb-2">
              é simplesmente uma simulação de texto da indústria tipográfica e de impressos
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              é simplesmente uma simulação de texto da indústria tipográfica e de impressos
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              é simplesmente uma simulação de texto da indústria tipográfica e de impressos
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              é simplesmente uma simulação de texto da indústria tipográfica e de impressos
            </div>
          </div>
        </div>

        <div class="text-center">
          <div class="row" style="height: 6rem;"></div>
          <p class="text-dark">Produzido por: Osmar Pereira</p>
        </div>
      </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
